@tailwind base;
@tailwind components;
@tailwind utilities;
$color-neutral: #efefef;
$color-sky: #caebf2;
$color-carbon: #a9a9a9;
$color-dark-grey: #a2a3a4;
$color-watermelon: #ff3b3f;
$color-gold: #c9b037;
$color-silver: #d7d7d7;
$color-bronze: #ad8a56;
$color-nav: #212529;
$color-faded-white: rgb(255 255 255 / 0.3);
$color-opaque-black: rgb(0 0 0 / 0.6);
$color-opaque-black-2: rgb(0 0 0 / 0.2);
$height-banner: 30vh;
$height-main: 80vh;
$height-footer: 10vh;

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.banner-container {
  background-image: url('../assets/tft-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
  background-color: rgba(0 0 0 / 0.5);

  width: 100%;
  height: $height-banner;
  display: grid;
  place-items: center;

  &:after {
    content: 'A Teamfight Tactics Probability Calculator';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-neutral;
    font-size: 2em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $height-banner;
    background: linear-gradient(to top, $color-nav 0%, transparent 80%);
  }
}

.calculator-container {
  padding-top: 2em;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2em;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;

  .input-container {
    flex-basis: 50%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;

    .input-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 1em;

      label {
        display: flex;
        flex-direction: column;

        .level-btn {
          border: 1px solid $color-nav;
          border-radius: 50%;
          box-shadow: 0px 0px 2px 2px $color-dark-grey;
          width: 3em;
          height: 3em;

          margin: 0.5em;

          &:hover {
            background-color: $color-carbon;
            color: $color-neutral;
          }

          &.selected {
            background-color: $color-nav;
            color: $color-neutral;
          }
        }

        .btn-group {
          margin-top: 1em;
        }

        #goldToRoll {
          margin-top: 1em;
          border-radius: 5px;
          background-color: $color-nav;
          color: $color-neutral;
          padding: 0.5em;
        }
      }
    }
  }

  .graph-container {
    flex-basis: 50%;
    flex-grow: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;

    .printed-stats {
      background-color: $color-nav;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-neutral;
      margin-top: 2em;

      div {
        margin: 1em;
        text-align: center;
      }
    }

    canvas {
      width: 100% !important;
      position: relative;
    }
  }
}

.footer-container {
  height: $height-footer;
  width: 100%;
  background-color: $color-silver;
  display: grid;
  place-items: center;
}

@media (max-width: 1200px) {
  .calculator-container {
    padding-left: 0;
    padding-right: 0;
  }

  .input-container,
  .graph-container {
    flex-basis: 100% !important;
  }

  .graph-container {
    margin-top: 5em;
  }
}
